{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Carousel Start -->
    <div class="container-fluid px-0">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
                centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                <swiper-slide><img src="media/img/carousel-1.jpg" alt=""></swiper-slide>
                <swiper-slide><img src="" alt=""></swiper-slide>
                <swiper-slide><img src="" alt=""></swiper-slide>
                <swiper-slide><img src="" alt=""></swiper-slide>
                <swiper-slide><img src="" alt=""></swiper-slide>
                <swiper-slide><img src="" alt=""></swiper-slide>
                <swiper-slide><img src="" alt=""></swiper-slide>
                <swiper-slide><img src="" alt=""></swiper-slide>
                <swiper-slide><img src="" alt=""></swiper-slide>
            </swiper-container>
        </div>
    </div>
    <!-- Carousel End -->

{% endblock %}