{% extends 'base.html' %}

{% block content %}


    <div class="container mt-4 mb-4 pt-4">
                <div class="row  mt-4 mb-4">

                    <div class="col-md-1"></div>

                    <form  class="col-md-10  wow fadeIn"  method="post" data-wow-delay=".5s">
                        {% csrf_token %}

                        <div class="p-5 row rounded contact-form" >

                             <div class="col-md-12 mb-4 h2 text-center text-white">
                               Formulaire de commande
                             </div>

                            {% if message %}
                              <div class="alert alert-info">
                                 {{message}}
                              </div>
                            {% endif %}

                            <div class="col-md-6 mb-4">
                                <input type="text" disabled class="form-control border-0 py-3" value="Nom : {{produit.nom}}" required>
                            </div>

                            <div class="col-md-6 mb-4">
                                <input type="text" disabled class="form-control border-0 py-3" value="Réf : {{produit.reference}}" required>
                            </div>

                            <div class="col-md-6 mb-4">
                                <input name="slug" type="hidden" value="{{produit.slug}}" class="form-control border-0 py-3">
                            </div>

                            <div class="col-md-12 mb-4">
                                <input type="number" id="quantite" name="quantite" class="form-control border-0 py-3" placeholder="Le nombre de quantité que vous souhaiter ?" required>
                            </div>

                            <div class="mb-4">
                                <textarea class="w-100 form-control border-0 py-3" name="message" rows="6" cols="10" placeholder="Message" required></textarea>
                            </div>

                            <div class="text-center mb-4">
                                <input class="btn bg-primary text-white py-3 px-5" value="Commandez" name="commander" type="submit"/>

                            </div>

                        </div>

                    </form>

                    <div class="col-md-1"></div>

                </div>
            </div>

{% endblock %}