{% extends 'base.html' %}

{% block content %}

  <!-- Contact Start -->


            <div class="container mt-4 mb-4 pt-4">
                <div class="row  mt-4 mb-4">

                    <div class="col-md-3"></div>


                    <div  class="col-md-6 wow fadeIn" data-wow-delay=".5s">


                        <form class="p-5 rounded contact-form" method="post"> {% csrf_token %}

                             <div class="mb-4 h2 text-center text-white">
                               Réinitialisation de mot de passe
                            </div>

                            <div class="mb-4">
                                <input type="text" name="code" class="form-control border-0 py-3" placeholder="code reçu par email" required>
                            </div>


                            <div class="mb-4">
                                <input type="password"  name="password" class="form-control border-0 py-3" id="password" placeholder="Mot de passe" required>
                            </div>

                            <div class=" mb-4">
                                <input type="password" class="form-control border-0 py-3" id="password1" placeholder="Confirmer mot de passe" required>
                                <small id="message"></small>
                            </div>


                            <div class="text-center mb-4">
                                <input class="btn bg-primary text-white py-3 px-5" value="Changer" name="changer" type="submit"/>
                            </div>


                        </form>

                    </div>


                    <div class="col-md-3"></div>


                </div>
            </div>


    <!-- Contact End -->


{% endblock %}